<div class="container">
  <h2>Search Airports</h2>
  <form [formGroup]="searchForm" novalidate (keyup)="loadData()">

    <label for="city">Enter city Name:</label>
    <input type="text" id="city" formControlName="cityName" placeholder="e.g. Rome">
    
    <div class="invalid-feedback" *ngIf="cityName.touched || cityName.dirty">
      <strong *ngIf="cityName.errors?.['required']">Za pretragu zračnih luka upišite ime grada</strong>
      <strong *ngIf="cityName.errors?.['minlength']">Ime grada mora imati najmanje 3 znaka</strong>
    </div>
    <div class="invalid-feedback" *ngIf="noResultsFound">
      <span>Za upisan pojam nema rezultata.</span>
    </div>
    
  </form>
</div>
<div class="results">
  <app-airports-list [airports]="airports" [topAirports]="topAirports"></app-airports-list>
  <app-airports-top10 [topAirports]="topAirports"></app-airports-top10>
</div>
